<!DOCTYPE html>
<html>
    <head>
      <title>Write...</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/logo.png">
      <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
      <link rel="stylesheet" type="text/css" href="/assets/css/paper.css" />
      <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
      <script src="/assets/js/jquery.min.js"></script>
      <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>

      <script type="text/javascript" src=""></script>
      <script src="https://use.fontawesome.com/cedef39783.js"></script>
    </head>

    <!--body init -->
    <body>
