html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.main {
  margin: 0 auto;
  padding-top: 64px;
  max-width: 640px;
  width: 94%;
  font-family: Lato;
  font-weight: 900;
  text-align: center;
}

.main .font-desc{
  font-size: 1.4em;
  font-weight: 1200;
  display: block;
}

/**
 * Footer Styles
 */

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:4.3em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:4.3em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1D1F20 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #1D1F20 }
}


.main h2 {
    font-size: 5em;
    text-align: center;
    width:4.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: 2px solid #1D1F20;
    -webkit-animation: typing 1s steps(25, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 1s steps(25, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}
