<% include ../partials/header.ejs %>

  <div class="container main">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h2>
          <i class="glyphicon glyphicon-pencil text text-primary"
          style="font-size: 0.6em;"></i>  write...</h2>
          <hr>

          <span class="font-desc" id="first">
            <i class="glyphicon glyphicon-ok text text-success"></i>
            write on-the-fly</span>

          <span class="font-desc" id="sec">
            <i class="glyphicon glyphicon-floppy-saved"></i>
            each letter auto-saved</span>

          <span class="font-desc" id="last">
            <i class="glyphicon glyphicon-refresh text text-info"></i>
            sync on any device(you only need a username)</span>

      </div>
    </div>
  </div>

  <!--footer -->
  <div class="footer">made with
      <i class="glyphicon glyphicon-heart text text-danger"></i> by
      <a href="https://maxwellmandela.com/" target="_blank">max
      <sup>
          <i class="glyphicon glyphicon-link text text-primary"></i>
      </sup>
    </a>
  </div>

  <script>
    $("#first").hide();
    $("#sec").hide();
    $("#last").hide();
    setTimeout(function(){
      $("#first").slideDown(700);
      $("#sec").slideDown(1000);
      $("#last").slideDown(1200);
    }, 1300);
  </script>

  </body>
</html>
